{namespace kassy.views.search autoescape="false"}

/**
 *
 */
{template .Field}
    <div class="search_field">
        <div>
            <div class="search_field__lt s_i"></div>
            <div class="search_field__rt s_i"></div>
            <button class="search_button"><i class="s_i"></i></button>
            <div id="search_label" class="label">Поиск</div>
            <input id="search_field" type="text"/>
        </div>
    </div>
    <div class="search_list"></div>
{/template}