{namespace kassy.views.direction autoescape="false"}

/**
 * Список направлений для фильтрации событий
 */
{template .List}
    <section class="interests">
        <ul>
            <li><div class="link" href="#movie/types"><span class="i4">Зрелища<i class="s_i"></i></span></div></li>
            <li><div class="link" href="#place/types"><span class="i4">Учреждения<i class="s_i"></i></span></div></li>
        </ul>
    </section>
{/template}